
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: helvetica;
    color:#2d2b2a;
    line-height: 1.2em;

    
}
body{
    background: #02496109;
}

.parallax{
    width: 100%;
    height: 80vh;
    background-image: url("../img/img_servicios/brown-bear.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    
    
}
.parallax:before{
    content: "";
    width: 100%;
    height: 80vh;
    background-color: #024961;
    opacity: 0.4;
    position: absolute;
   
    
}

.parallax_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    
}

.titulo_portada{ 
    width: 50%; 
    z-index: 2;
    margin-bottom: 10px;
    
    
   
}
.titulo_portada h2{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 2px 2px rgba(43, 42, 42, 0.945);
    line-height: 1.2em;

}

.subtitulo_portada{
    z-index: 2;
    width: 40%;
      
}
.subtitulo_portada p{
    font-size: 24px;
    color: #fff;
    
    font-weight: 300;
    text-shadow: 3px 2px 2px rgba(43, 42, 42, 0.945);

}
.btn_portada{
    z-index: 1;
    
}

.call_to_action{
    width: 200px;
    height: 55px;
    background-color: #dda869;
    border-radius: 50px;
    border: none;
    color: #2d2b2a;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
    
    
}
.call_to_action:hover{
    background-color: #2d2b2a;
    color: #fff;
    transition: .5s;

}
::selection {
    background: #D8B394;
    color: #fff;
}

/*++++++++++++++++++++++++++contenido++++++++++++++*/
.contenedor_principal{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
.subcontenedor{
    padding: 30px 50px;
    margin-bottom: 10px;
    box-shadow: -2px 1px 13px 0px rgba(0, 0, 0, 0.24);
    background: #fff;
}
.servicios{
    display: flex;
    align-items: center;
}
.descripcion h2{
    font-size: 30px;
    margin-bottom: 20px;
    
}
.descripcion p{
    text-align: justify;
    margin-bottom: 30px;
    color: #2d2b2ad3;
}
.imagen{
    margin-right: 50px;
}

.imagen img{
    width: 420px;
    height: 320px;
    border-radius: 10px;
}
.items ul{
    margin-bottom: 30px;
}
.items ul li{
    margin-bottom: 10px;
    color: #2d2b2ad3;
}
.btn_j button{
    width: 200px;
    height: 55px;
    background-color: #D8B394;
    border-radius: 5px;
    border: none;
    color: #024961;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin-left: 20px;
}
.btn_j button:hover{
    background-color: #2D2B2A;
    color: white;
    transition: .5s;

}


@media (max-width: 810px){
    .parallax{
        width: 100%;
        height: 40vh; 
        background-attachment:initial;   
    }
    .parallax:before{
        height: 40vh;      
    }
    .titulo_portada{
        width: 50%;
    }
    .titulo_portada h2{
        font-size: 45px;
    
    }
    
    .subtitulo_portada{
        width: 40%;
        font-size: 20px;         
    }
    .contenedor_principal{
        width: 90%;
    }
    .subcontenedor{
        padding: 20px;
        margin-bottom: 10px;
    }
    .servicios{
        display: flex;
        align-items: flex-start;
    }
    .imagen{
        margin-right: 10px;
    }
    
    .imagen img{
        width: 400px;
        height: 300px;
        border-radius: 10px;
    }
    .items ul{
        margin-bottom: 30px;
    }
    .items ul li{
        margin-bottom: 10px;
        color: #2d2b2ad3;
    }

    
    }
    @media (max-width: 414px){
        .titulo_portada{
            width: 70%;
        }
        .titulo_portada h2{
            font-size: 35px;
        
        }
        .call_to_action{
            width: 110px;
            height: 40px;
            font-size: 12px;
            margin-top: 10px;
            
            
        }
        .subcontenedor{
            padding: 20px;
            margin-bottom: 10px;
        }
        .servicios{
            display: block;
            align-items: flex-start;
            
        }
        .imagen{
            margin-right: 0px;
            margin-bottom: 10px;
        }
        
        .imagen img{
            width: 320px;
            height: 250px;
        }
        .btn_j{
            width: 100%;
            text-align: center;
        }
        .btn_j button{
            width: 200px;
            height: 55px;
            background-color: #D8B394;
            border-radius: 5px;
            border: none;
            color: #024961;
            font-size: 14px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: bold;
    
        
        }
    }

/***************************************************Sección de contacto**********************************************************/
.contact{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #D8B593;
    font-family: helvetica;
    margin-bottom: 1px;
   
}

.div_ad{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  
}
.ad{
    width: 85%;
    height: 400px;
    padding-top: 40px;
    border: solid 3px white;  
     
}
.ad .p1{
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    
}
.ad .p2{
    text-transform: uppercase;
    color: #024961;
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bolder;
}
.ad .p3{
    color: white;
    margin-bottom: 60px;
    font-size: 16px;
    text-align: center;
}
.ad .p4{
    text-transform: uppercase;
    color: #024961;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: bolder;
}

.ad i{
    color: #024961;
    font-size: 24px;
  
}
.ad .p5{
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    text-align: center;
}

/*formulario de contacto*/


.contact_form{
    padding: 30px 50px;
    font-size: 14px;
    color: #024961; 
    
}

.contact_form p{
    font-size: 16px;
    color: #024961;
    margin-bottom: 15px;
    font-weight: bold;
}



.contact_form input, .contact_form select, .contact_form textarea{
    width: 100%;
    font-size: 16px;
    padding-left: 60px;
    height: 30px;
    margin-bottom: 40px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #024961;
    margin-bottom: 2px;
    color: #024961;
    text-align: left;
  }
.contact_form .msg{
    height: 50px;

}
#checkbox{
    width: 30px;
    height: 15px;

}
.checkbox a{
    font-size: 14px;
    color: #024961;
}
.checkbox a:hover{
    color: #fff;
}


.contact_form label{
    text-align: left;
    font-size: 16px;
    color: #024961;
}
.btn_area{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

 .btn_formulario{
      width: 120px;
      height: 50px;
      margin-top: 10px;
      padding: 10px;
      border-radius: 30px;
      background-color: #024961;
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      border: none;
      

  }

  .btn_formulario:hover{
    background-color: #2D2B2A;
    color: white;
    transition: 1s;

  }

.maps iframe{
    width: 100%;
    height: 500px;}
   

   
/*/////////////////Responsive formulario de contacto vista tablet////////////////////*/

@media  (max-width: 810px) {
    .contact{
        grid-template-columns: 1fr 1fr;
        
    }
    
    .contact_form input, .contact_form select{
        width: 100%;
    }

    .maps{
        width: 100%;
        
    }

    .maps iframe{
        position: absolute;
        height: 300px;
    }
    
}
 /*BOTONES FLOTANTES*/
 #btn-mas{
    display: none;
}
.flotante2{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}
.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    background: rgb( 2 , 73 , 97);
    color: rgb( 216 , 179 , 148);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.redes a:hover{
    background: #fff;
    color:  rgb( 2 , 73 , 97);
}
.redes a{
    font-size: 30px;
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    color:  rgb( 216 , 179 , 148);
    font-size: 20px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg);
    font-size: 40px;
}


 /*/////////////////////////////////////////////Responsive formulario de contacto vista smartphone/////////////////////////////////////*/

 @media (max-width:414px){
     .contact{
         grid-template-columns: 1fr;
         height: 1050px;
         padding-top: 20px;
         
     }
     .div_.ad{
        padding-top: 20px;
        height: 400px;
     }
     
    .ad .p1{
        font-size: 14px;
    }
    .ad .p2{
        font-size: 18px;
    }
    .ad .p3{
        font-size: 14px;
    }
    .ad .p4{
        font-size: 18px;
    }
    .ad .p5{
        font-size: 18px;
    }


 /*Formulario*/

 .contact_form{
     padding: 30px;
     font-size: 16px;
 }

 .btn button{
    width: 100px;
    height: 40px;
    font-size: 18px;
}
}



  
  
  



